DATABASE_URL="postgresql://postgres:password@localhost:5666/postgres-paid" # Local Docker PostgreSQL
BETTER_AUTH_SECRET= # generate with: openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your-walletconnect-project-id
